body {
  background: white;
  font-family: Helvetica, sans-serif;
  color: #424242;
  text-align: center;
}


#input-wrapper {
  padding-top: 5vh;
  height: 40vh;
}

#input-form {
  margin-top: 5vw;
  text-align:center
}
#calculation-input{
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 2rem;
  height: 7vh;
  max-width: 80vw;
  min-width: 50vw;
  text-align: center;
  border-radius: 10vh;
  border: 0.25rem solid #6F6F6F;
  margin-bottom: 5vh;
}
#submit-button {
  border-radius: 10vh;
  background-color: #33E488;
  border: none;
  color: white;
  padding: 1.5vh 3vw;
  text-decoration: none;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
}
#log-list{
  list-style: none;
  padding-left: 0;
  text-align: center;
  list-style-type:none;
  font-size: 1.5rem;
  line-height: 6vh;
}
